
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ATS | Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/Scripts/moment.js"></script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0"> <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a> </h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Asset Master</a></li>
                                <li class="breadcrumb-item active">Asset Dashboard</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Small boxes (Stat box) -->
                    <div class="row">


                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header row" style="margin:0px;">
                                    <div class="col-md-9"><h3 class="card-title"><b>Asset List</b></h3></div>
                                    <div class="col-md-3"><button type="button" class="btn btn-block btn-outline-success" onclick="onCreateAsset()" style="width:70%;float:right;"><i class="fas fa-plus nav-icon"></i> Create Asset</button></div>

                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="tblAssetList" summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th style="width: 210px;">Asset Details</th>
                                                <th style="width: 210px;">Asset Dates</th>
                                                <th style="width: 210px;">Company Details</th>
                                                <th>RFID No</th>
                                                <th>Action &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr>
                                                <td style="width: 10px">1.</td>
                                                <td><b>Type:</b> Laptop<br /><b>Name:</b> Lenovo Laptop<br /><b>Serial No:</b> EHAS12345<br /><b>Model No:</b> Model123</td>
                                                <td><b>Purchase Date:</b>01 Jan 2021<br /><b>Expiry Date:</b>01 Jan 2022<br /><b> Insurance Date:</b>08 Dec 2021</td>
                                                <td><b>Company Name:</b> Lenovo<br /><b>Company Loaction:</b> Mumbai</td>
                                                <td>RFID123</td>
                                                <td>
                                                    <button type="button" class="btn btn-block btn-outline-success"><i class="fas fa-edit nav-icon"></i> &nbsp;Edit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                    <button type="button" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#modal-default"><i class="fas fa-trash nav-icon"></i> Disabled </button>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td style="width: 10px">2.</td>
                                                <td><b>Type:</b> Laptop<br /><b>Name:</b> Asus Laptop <br /><b>Serial No:</b> EHAS6454545<br /><b> Model No:</b> Model935435</td>
                                                <td><b>Purchase Date:</b>23 Mar 2021<br /><b>Expiry Date:</b>23 Mar 2022<br /><b>Insurance Date:</b>08 Jun 2021</td>
                                                <td><b>Company Name:</b> Asus<br /><b>Company Loaction:</b> Chennai</td>
                                                <td>RFID789</td>
                                                <td>
                                                    <button type="button" onclick="funBtnEditAsset(7)" class="btn btn-block btn-outline-success"><i class="fas fa-edit nav-icon"></i> &nbsp;Edit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                    <button type="button" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#modal-default"><i class="fas fa-trash nav-icon"></i> Disabled </button>
                                                </td>
                                            </tr>*@                                          

                                        </tbody>
                                         
                                    </table>
                                </div>
                               
                            </div>
                            <!-- /.card -->
                        </div>

                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>

    <script type="text/javascript">
        window.onload = function () {
            menuItemActive('assets', 'assetsList');
            $("#tblAssetList tbody").empty();
            fetchAssetList();           
        };

        $('table').DataTable();

        function iterateRows(item, index) {
            let status = 'InActive';
            let statusMsg = 'Enabled';
            if (item.IsActive) {
                status = 'Active';
                statusMsg = 'Disabled';
            }
            if (status === 'Active') {
                $("#tblAssetList tbody").append(
                    `      <tr>` +
                    `      <td style="width: 10px">${index+1}</td>` +
                    `      <td id="GridAssetDetails_${item.ID}"><b>Type:</b> ${item.Type}<br /><b>Name:</b> ${item.Name}<br /><b>Serial No:</b> ${item.SerialNo}<br /><b>Model No:</b> ${item.ModelNo}</td>` +
                    `      <td id="GridAssetDates_${item.ID}"><b>Purchase Date:</b>${formatDate(item.PurchaseDate)}<br /><b>Expiry Date:</b>${formatDate(item.ExpiryDate)}<br /><b> Insurance Date:</b>${formatDate(item.InsuranceDate)}<br /><b> Service Due :</b>${formatDate(item.ServiceDueDate)}</td>` +

                    `      <td id="GridCompanyDetails_${item.ID}"><b> Name:</b> ${item.CompanyName}<br /><b>Model Name:</b> ${item.ModelName}</td>` +
                    `      <td id="GridRFID_${item.ID}">RFID${item.ID}</td>` +

                    `      <td class="py-0 align-middle" style="text-align: center">` +
                    `          <button type="button" class="btn btn-block btn-outline-success" onclick="funBtnEditAsset(${item.ID})" ><i class="fas fa-edit nav-icon"></i> &nbsp;Edit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>` +
                    `          <button type="button" id="btnDisabled_${item.ID}" onclick="funOpenModalPopUp(${item.ID});"  class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#modal-default"><i class="fas fa-trash nav-icon"></i> ${statusMsg} </button>` +
                    `      </td>` +
                    `  </tr>`
                );
            } else {
                $("#tblAssetList tbody").append(
                    `      <tr>` +
                    `      <td style="width: 10px">${index+1}</td>` +
                    `      <td id="GridAssetDetails_${item.ID}"><b>Type:</b> ${item.Type}<br /><b>Name:</b> ${item.Name}<br /><b>Serial No:</b> ${item.SerialNo}<br /><b>Model No:</b> ${item.ModelNo}</td>` +
                    `      <td id="GridAssetDates_${item.ID}"><b>Purchase Date:</b>${formatDate(item.PurchaseDate)}<br /><b>Expiry Date:</b>${formatDate(item.ExpiryDate)}<br /><b> Insurance Date:</b>${formatDate(item.InsuranceDate)}<br /><b> Service Due :</b>${formatDate(item.ServiceDueDate)}</td>` +

                    `      <td id="GridCompanyDetails_${item.ID}"><b>Company Name:</b> ${item.CompanyName}<br /><b>Model Name:</b> ${item.ModelName}</td>` +
                    `      <td id="GridRFID_${item.ID}">RFID${item.ID}</td>` +

                    `      <td class="py-0 align-middle" style="text-align: center">` +
                    `          <button type="button" class="btn btn-block btn-outline-success" onclick="funBtnEditAsset(${item.ID})"><i class="fas fa-edit nav-icon"></i> &nbsp;Edit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>` +
                    `          <button type="button" id="btnEnabled_${item.ID}" onclick="funOpenModalPopUp(${item.ID});"  class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#modal-default"><i class="fas fa-trash nav-icon"></i> ${statusMsg} </button>` +
                    `      </td>` +
                    `  </tr>`
                );
            };  

            var disbaledOrEnabledAssetBtn = '';
            if (status === 'Active') {
                disbaledOrEnabledAssetBtn = '<button type="button" onclick="funDisbaledAsset('+ item.ID +'); " id="btn' + statusMsg + '_' + item.ID + ' " class="btn btn-primary">' + statusMsg + '</button>';
            } else {
                disbaledOrEnabledAssetBtn = '<button type="button" onclick="funEnabledAsset('+ item.ID +'); " id="btn' + statusMsg + '_' + item.ID + ' " class="btn btn-primary">' + statusMsg + '</button>';
            }

            $("#tblAssetList tbody").append(
                ` <div class="modal fade" id="modal-default_${item.ID}">` +
                `<div class="modal-dialog">` +
                ` <div class="modal-content">` +
                ` <div class="modal-header">` +
                ` <h4 class="modal-title">${statusMsg} Asset</h4>` +
                ` <button type="button" class="close" data-dismiss="modal" aria-label="Close">` +
                ` <span aria-hidden="true">&times;</span>` +
                ` </button>` +
                ` </div>` +
                ` <div class="modal-body">` +
                ` Are you sure you want to ${statusMsg} asset?` +
                ` </div>` +
                ` <div class="modal-footer justify-content-between">` +
                ` <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>` +
                ` ${disbaledOrEnabledAssetBtn}` +
                //` <button type="button" onclick="funDisbaledOrEnabledAsset(${item.ID,statusMsg});" id="btn${statusMsg}_${item.ID}" class="btn btn-primary">${statusMsg}</button>` +
                ` </div>` +
                ` </div>` +
                ` </div>` +
                ` </div >`
            );
        };
        
        function funOpenModalPopUp(aasetId) {
            $('#modal-default_' + aasetId).modal();
        }

        function formatDate(date) {
            return moment(date).format('DD-MMM-YYYY');
        };

        function onCreateAsset() {
            window.location = '/Asset/Create';
        }

        function fetchAssetList() {
            $.ajax({
                url: '@Url.Action("AssetList", "Asset")',
                type: "Post",
                dataType: "JSON",
                async: false,
                data: { dd: "GetData" },
                success: function (data) {
                    $("#tblAssetList tbody").empty();
                    data.forEach(iterateRows);
                }
            });
        }

        function funEnabledAsset(aasetId) {  
            $("#modal-default_" + aasetId + " .close").click();
            $(".modal-backdrop").remove(); 
            $('html, body').css({
                overflow: 'auto',
            });
               $.ajax({
                url: '@Url.Action("EnabledAsset", "Asset")',
                type: "Post",
                dataType: "JSON",
                async: false,
                data: { AssetId: aasetId },
                success: function (data) {
                    $(document).Toasts('create', {
                        class: 'bg-success',
                        title: 'Success',
                        subtitle: '',
                        body: 'Enabled asset successfully..!'
                    });
                    fetchAssetList();
                }
            });
        }

        function funDisbaledAsset(aasetId) { 
            //$("body").removeClass("modal-backdrop");
            $("#modal-default_" + aasetId + " .close").click();
            $(".modal-backdrop").remove(); 
            $('html, body').css({
                overflow: 'auto',
            });
            $.ajax({
                url: '@Url.Action("DisabledAsset", "Asset")',
                type: "Post",
                dataType: "JSON",
                async: false,
                data: { AssetId: aasetId },
                success: function (data) {
                    $(document).Toasts('create', {
                        class: 'bg-success',
                        title: 'Success',
                        subtitle: '',
                        body: 'Disabled asset successfully..!'
                    });                  
                    fetchAssetList();
                }
            });
        }       

        function funBtnEditAsset(asetId) {
            localStorage.setItem('a', asetId);
            window.location = '/Asset/Update';
        }

    </script>
</body>
</html>
